@import url("https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400;500;600;700;800&family=Zilla+Slab:wght@300;400;500;600;700&display=swap");

/* colors */
$black: #000000;
$white: #ffffff;

/*typography*/
$sans: "Wix Madefor Display", sans-serif;
$serif: "Zilla Slab", serif;

:root {
  /* font-size: ; */
  font-size: calc(62.5% + 0.390625vw);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $black;
}

* {
  transition: 0.4s all;
  //   z-index: 0;
  font-family: $serif;
  color: $white;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*::selection {
  background-color: white;
  color: black;
}

*::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #dbdbdb;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #000000;
  border: 1px solid #ffffff;
}

input {
  width: 100%;
  padding: 0.5rem 0.5rem;
  margin-block: 1rem;
  background-color: transparent;
  border: 2px solid $white;
  font-family: $sans;
  &::placeholder {
    font-weight: 700;
    color: #ffffff65;
  }
}

input:focus,
input:active,
input:visited,
textarea:focus,
textarea:active,
textarea:visited {
  background-color: transparent;
  // border: none;
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: black;
  -webkit-box-shadow: 0 0 0px 1000px #00000000 inset;
  transition: background-color 5000s ease-in-out 0s;
}

input::placeholder,
textarea::placeholder {
  color: #3f3f3f8c;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
h1 {
  font-size: 4rem;
  font-family: $sans;
}
h2 {
  font-size: 3rem;
  font-family: $sans;
  text-align: center;
}
h3 {
  font-size: 1.7rem;
  font-family: $sans;
}
h4 {
  font-size: 1.2rem;
  font-family: $sans;
}
h5 {
  font-size: 1.429rem;
  font-family: $sans;
}
h6,
.big {
  font-size: 1.214rem;
  font-family: $sans;
}
.small {
  font-size: 0.857rem;
}
small {
  font-size: 0.714rem;
}
p,
label,
span,
input,
select,
option,
strong,
a {
  font-size: 0.9rem;
}

strong {
  font-family: $sans;
}

a {
  display: inline-block;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a,
button {
  cursor: pointer;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
}

img::selection {
  background-color: #000;
}

.button {
  display: block;
  padding: 8px 16px;
  width: 100%;
  min-width: 100px;
  max-width: 200px;
  text-align: center;
  background-color: transparent;
  margin: 2rem auto 0;
  font-family: $sans;
  font-weight: 600;
  &:hover {
    text-decoration: none;
  }
}
.button-primary {
  border: 2px solid $white;
  background-color: $white;
  color: $black;
  &:hover {
    background-color: green;
    color: $white;
  }
  &:disabled {
    background-color: rgb(187, 187, 187);
    border-color: rgb(187, 187, 187);
    &:hover {
      color: $black;
      cursor: default;
    }
  }
}

.grid {
  display: grid;
}
.g-by4 {
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
}

.full-width {
  width: 100%;
}

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.wrap {
  flex-wrap: wrap;
}
.nowrap {
  flex-wrap: nowrap;
}
.column {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.align-stretch {
  align-items: stretch;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: flex-end;
}

.justify-evenly {
  justify-content: space-evenly;
}

.justify-around {
  justify-content: space-around;
}

.by-2 {
  width: 50%;
}
.by-3 {
  width: 30%;
}

.hidden {
  display: none;
}

.mar-1 {
  margin: 1rem 0;
}

.project-card {
  overflow: hidden;
  outline: 2px solid white;
  .img {
    position: relative;
    overflow: hidden;
    background-color: #ffffff;
    // -webkit-filter: grayscale(0);
    // filter: grayscale(0);
    .button-group {
      inset: 0;
      // bottom: 0;
      background-color: transparentize($color: $black, $amount: 0.3);
      position: absolute;
      opacity: 0;
      pointer-events: none;
    }
    &:hover {
      // -webkit-filter: grayscale(1);
      // filter: grayscale(1);
      img {
        scale: 1.05;
      }
      .button-group {
        opacity: 1;
        pointer-events: all;
      }
    }
  }
  .project-details {
    height: inherit;
    position: relative;
    padding: 0 1vw;
    h3,
    p,
    div {
      margin-block: 0.5rem;
    }
    p {
      font-size: 1.1rem;
      // padding-bottom: 3rem;
    }
    .flex {
      gap: 0.5rem;
      * {
        font-family: $sans;
      }
    }
    .technologies {
      a {
        margin-top: 0.5rem;
        background-color: $white;
        padding: 5px 10px;
        color: $black;
        &:hover {
          text-decoration: none;
        }
      }
    }
    .button-group.flex:last-child {
      display: none;
    }
  }
}

main {
  .form {
    padding: 2vw;
    form {
      width: 100%;
      max-width: 25rem;
      margin: 3rem auto 0;
      * {
        display: block;
      }
    }
  }
  .search {
    padding: 2vw;
    input {
      max-width: 35rem;
    }
  }
  .table {
    outline: 2px solid $white;
    margin: 2vw;
    max-height: 20rem;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: #000000 #dfe9eb;

    &::-webkit-scrollbar {
      height: 10px;
      width: 10px;
    }
    &::-webkit-scrollbar-track {
      border-radius: 5px;
      background-color: #dfe9eb;
      border: 1px solid #ffffff;
    }

    &::-webkit-scrollbar-track:hover {
      background-color: #b8c0c2;
    }

    &::-webkit-scrollbar-track:active {
      background-color: #b8c0c2;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 5px;
      background-color: #000000;
      border: 1px solid #ffffff;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: #000000;
    }

    &::-webkit-scrollbar-thumb:active {
      background-color: #62a34b;
    }

    .grid {
      padding: 1rem 2vw;
      text-align: center;
      &:first-child {
        border-bottom: 2px solid $white;
      }
      .action {
        gap: 0.5rem;
        button {
          background-color: transparent;
          border: none;
          svg {
            font-size: 1.3rem;
            fill: $white;
            transition: 0.1s all;
            &:hover {
              scale: 1.1;
              &:nth-child(1) {
                fill: green;
              }
              &[type="del"] {
                fill: rgb(167, 0, 0);
              }
            }
          }
        }
      }
    }
    .grid ~ h3 {
      text-align: center;
      padding: 1vw;
      font-weight: 400;
      font-style: italic;
      font-family: $serif;
    }
  }
}
